@model Typer.ViewModels.Views.AdminSeason.VMAdminSeasonCreate


<h2>Dodaj sezon</h2>
<div class="col-md-6">
    @using (Html.BeginForm("AddNewSeason", "AdminSeason", FormMethod.Post))
    {
        @Html.EditorFor(x => x)
        <button type="submit">Zapisz</button>
    }
</div>