@model Typer.ViewModels.AdminMatchweek.VMAdminMatchweekCreate

<h2>Dodaj kolejkę</h2>
<div class="col-md-6">
    @using (Html.BeginForm("Create", "AdminMatchweek", FormMethod.Post))
    {
        @Html.EditorFor(x => x.MatchweekName)
        @Html.DropDownListFor(x => x.SeasonId, Model.Seasons)
        <button  type="submit">Zapisz</button>
    }
</div>
