Typer/.vs/Typer/v15/sqlite3/storage.ide
bin
obj
packages
/Typer/.vs/Typer/v15/.suo
/Typer/.vs/Typer/v15/sqlite3/storage.ide
/AccessLayer/Typer.Database.Access/obj
/Presentation/Typer.Web/ConnectionStrings.config
/Typer/.vs/Typer/v15/.suo
/Typer/.vs/Typer/v15/sqlite3/storage.ide
