@model Typer.ViewModels.Views.Statisctic.VMStatisticIndex

    <div class="row">
      
        <div class="col-md-offset-10 col-md-2">@Html.DropDownListFor(x => x.SeasonId, Model.Seasons, new { @id = "seasonList" })</div>
        <div id="statistics" class="col-md-8 col-md-offset-2">
        </div>
    </div>

<script>
    $(document).ready(function () {
        loadStatistics();
    })

    $("#seasonList").change(function () {
        loadStatistics();
    })

    function loadStatistics() {
        var seasonId = $("#seasonList").val();
        $.ajax
            ({
                type: 'GET',
                url: '@Url.Action("GetStatistics")',
                dataType: 'html',
                data: { seasonId: seasonId },
                success: function (response)
                {
                    var statistics = $("#statistics");
                    statistics.empty();
                    statistics.html(response);
                }
            })
    }
</script>