@model Typer.ViewModels.Views.Statisctic.VMStatisticIndex

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwa użytkownika</th>
            <th>Punkty</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.UserStatistics)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.UserPoints</td>
            </tr>
        }
    </tbody>
</table>
