@model Typer.ViewModels.AdminTeam.VMAdminTeamIndex
@{
    ViewBag.Title = "Index";
}

<div class="row page-header">
    <div class="col-md-11">
        <h4 class="headline-title">Zarządzaj zespołami</h4>
    </div>
    <div class="col-md-1">
        @Html.ActionLink("Dodaj zespół", "AddNewTeam", "AdminTeam", null, new { @class = "btn btn-success" })
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        @foreach (var team in Model.Teams)
        {
            <div class="row">
                <a class="btn btn-default" href="@Url.Action("Details", "AdminTeam", new { teamId = team.TeamId })">@team.TeamName</a>
            </div>
        }
    </div>
</div>
